.navbar {
  display: flex;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 100%;
}
